
/** Raleway-Regular **/

@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway-regular/Raleway-Regular.eot');
  src: url('../fonts/Raleway-regular/Raleway-Regular.woff2') format('woff2'),
       url('../fonts/Raleway-regular/Raleway-Regular.woff') format('woff'),
       url('../fonts/Raleway-regular/Raleway-Regular.svg#Raleway-Regular') format('svg'),
       url('../fonts/Raleway-regular/Raleway-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;     
}


/** Raleway-Light **/

@font-face {
  font-family: 'Raleway-Light';
  src: url('../fonts/Raleway-light/Raleway-Light.eot');
  src: url('../fonts/Raleway-light/Raleway-Light.woff2') format('woff2'),
       url('../fonts/Raleway-light/Raleway-Light.woff') format('woff'),
       url('../fonts/Raleway-light/Raleway-Light.svg#Raleway-Light') format('svg'),
       url('../fonts/Raleway-light/Raleway-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;     
}

/** Raleway-Medium **/

@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway-medium/Raleway-Medium.eot');
  src: url('../fonts/Raleway-medium/Raleway-Medium.woff2') format('woff2'),
       url('../fonts/Raleway-medium/Raleway-Medium.woff') format('woff'),
       url('../fonts/Raleway-medium/Raleway-Medium.svg#Raleway-Medium') format('svg'),
       url('../fonts/Raleway-medium/Raleway-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;     
}

/** Raleway-bold **/

@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway-bold/Raleway-Bold.eot');
  src: url('../fonts/Raleway-bold/Raleway-Bold.woff2') format('woff2'),
       url('../fonts/Raleway-bold/Raleway-Bold.woff') format('woff'),
       url('../fonts/Raleway-bold/Raleway-Bold.svg#Raleway-Bold') format('svg'),
       url('../fonts/Raleway-bold/Raleway-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;     
}


/** Oswald-Light **/

@font-face {
  font-family: 'Oswald-Light';
  src: url('../fonts/Oswald-light/Oswald-Light.eot');
  src: url('../fonts/Oswald-light/Oswald-Light.woff2') format('woff2'),
       url('../fonts/Oswald-light/Oswald-Light.woff') format('woff'),
       url('../fonts/Oswald-light/Oswald-Light.svg#Oswald-Light') format('svg'),
       url('../fonts/Oswald-light/Oswald-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/** Oswald-Regular **/

@font-face {
  font-family: 'Oswald-Regular';
  src: url('../fonts/Oswald-reguler/Oswald-Regular.eot');
  src: url('../fonts/Oswald-reguler/Oswald-Regular.woff2') format('woff2'),
       url('../fonts/Oswald-reguler/Oswald-Regular.woff') format('woff'),
       url('../fonts/Oswald-reguler/Oswald-Regular.svg#Oswald-Regular') format('svg'),
       url('../fonts/Oswald-reguler/Oswald-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;     
}

/** Oswald-Medium **/

@font-face {
  font-family: 'Oswald-Medium';
  src: url('../fonts/Oswald-medium/Oswald-Medium.eot');
  src: url('../fonts/Oswald-medium/Oswald-Medium.woff2') format('woff2'),
       url('../fonts/Oswald-medium/Oswald-Medium.woff') format('woff'),
       url('../fonts/Oswald-medium/Oswald-Medium.svg#Oswald-Medium') format('svg'),
       url('../fonts/Oswald-medium/Oswald-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}






