@font-face {
  font-family: 'Raleway-Light';
  src: url('Raleway-Light.eot');
  src: url('Raleway-Light.woff2') format('woff2'),
       url('Raleway-Light.woff') format('woff'),
       url('Raleway-Light.ttf') format('truetype'),
       url('Raleway-Light.svg#Raleway-Light') format('svg'),
       url('Raleway-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

