doctype html
html
    include ../src/pug/base/head.pug
    body
        header.c-header
            | Webpack Boilerplate
        main.l-main
            
            figure
                img(src="./img/tips.png" alt="aint she cute")
                figcaption Cute avatar
            
            .mario
            
            p.active
                | &#x262E;
            h1 Home page did it work yo !