* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.active {
    color: lightcoral;
    font-size: 2em;
    animation: popup 1000ms infinite;
}

@keyframes popup {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(2);
    }
}